body {
    font-family: Roboto, sans-serif;
}

header {
    padding: 20px 0px;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}
h2 {
    font-weight: 700;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

a {
    padding: 0 15px;
    margin: 0;
    color: black;
    font-size: 16px;
}

a:hover {
    color: grey;
}

.portfolio {
    color: green;
    margin-left: 50px;
    
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url(mountain_2.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    height: 600px;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.portrait {
    width:  330px;
    height: 429px;
}

.description {
    width: 330px;
    font-size: 16px;
    line-height: 27px;
    padding-top: 15px;
}

.edulist {
    width: 300px;
    margin-top: 25px;
}

.experience {
    margin-top: 50px;
}

.langexp {
 height: 10%;
 width: 25%;
}

.lang {
    min-width: inherit;
    max-width: inherit;
    max-height: inherit;
    min-height: inherit;
    height: inherit;
    height: 50px;
}

.expul {
    padding: 1px;
}

.expli {
    list-style: none;
    display: flex;
}

.ulexperience {
    padding-top: 15px;
}

figure {
    margin-bottom: 30px;
}

footer {
    font-size: 16px;
    padding: 50px 0;
}
